{% extends "base.html" %}

{% block content %}

    <form method="POST" action="{{ url_for('select') }}">
    <div class="info">
        <h1>Hello, {{current_user.username}}!</h1>
        <p>Pick your favourite car series and voting right now!</p>
        <br>

        <!-- {% for i in car1 %}
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="event()">{{i}}</button>
        {% endfor %} -->
        

        <div >
            <div >
                <span  class='btn btn-default btn-lg btn-block'>Please select Below</span>
                <br/>
                <br>
                    <select name="car_select" class="selectpicker show-tick btn btn-info btn-lg btn-block">
                        {% for i in car1 %}
                            <option>{{i}}</option>
                        {% endfor %}    
                    </select>

            </div>
            <br><br>
            
            {% if choice.vote == 1 %}
            <button type="submit" class="btn btn-default btn-lg btn-block" disabled >You have already Voted</button>
            {% else %}
            <button type="submit" class="btn btn-default btn-lg btn-block" onclick="time()">Vote</button>
            
            {% endif %}
            
        </div>

        <table class="table">
            <caption style="text-align: center" >User Voting List</caption>
        <thread>
            <th class="danger">USER</th>
            <th class="danger">CAR</th>
            <th class="danger">VOTE</th>
        </thread>
        <tbody>
            {% for i,j,k in a %}
             <tr>
                 <td class="active">{{i}}</td>
                 <td class="success">{{j}}</td>
                 <td class="warning">{{k}}</td>
             </tr>
            {% endfor %}

        </tbody>
        </table>
    </div>
    </form>

    

    

{% endblock %}
